<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>bballfastv2 {{ title }}</title>

        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}" type='text/css'>

        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}" type='text/css'>


        <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Don't waste your time waiting for NBA basketball statistics, scores, player, and team information to load. bballfast makes finding nba stats and games easy and most importantly fast and relevant.">
    <meta name="keywords" content="NBA,basketball,statistics,stats,bballfast,bball,fast">
    <meta name="author" content="Viseth Sen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/orange-bballfast-logo.png') }}">



    </head>
    <body>
        <h1>Viseth</h1>
    </body>
</html>
